//CartItem colors
$button-color: #f0f3f1;
$button-color-hover: #e7e4e4;
$button-decrease-color: #FFEDED;
$button-increase-color: #EFFFF3;
$button-minus-color: #DD1717;
$button-plus_color: #58B62C;

//CartItem quantity colors
$quantity-button-border-color: #e3e7e3;
$quantity-button-border-hover-color: #61dafb;

//CartItem price colors
$total-price-color: #f0f3f1;

//OrderCard colors
$button-create-order-color: #3ACE75;
$button-create-order-color-hover: #2b9b58;
$button-create-order-text-color: #FFFFFF;
$button-create-order-border-color: #817e7e;
$order-card-border-color: #b7b7b7;

//Product card add to cart colors
$button-add-to-cart: #005bff;
$button-add-to-cart-hover: #004cd9;
$button-add-to-cart-border-color: #817e7e;

//Search colors
$search-button-color: #2364ff;
$search-button-hover-color: #2364e1;
$search-button-border-color: #444444;

//categories-bar-color
$categories-list-item-hover-color: #e3e3e3;