@import 'form';
.user-form{
  @extend .form;
  margin-right: 80px;
  .user-form-username{
    margin-bottom: 10px;
  }
  .user-form-email{
    margin-bottom: 10px;
  }
  .user-form-password{
    margin-bottom: 10px;
  }
  .user-form-submit-button{
    @extend .button-submit;
  }
}
.user-management{
  margin-top:100px;
  margin-left:100px;
  display: flex;
  flex-direction: row;
}
.user-management-table{
  display:flex;
  flex-direction: column;
}
.user-management-delete-users{
  @extend .button-delete;
  width: 180px;
  margin-left:auto;
  margin-right: 10px;
  margin-bottom:20px;
}