@import 'form';

.login-form {
  @extend .form;
  margin-right: 80px;



    .login-form-email-label {

    }

    .login-form-email-input {

    }
  .login-form-password-label {

  }

  .login-form-password-input {

  }

  .login-form-submit-button {
    @extend .button-submit;
    margin-bottom: 5px;

  }
}
.login-panel{
  position: absolute;
  z-index: 5000;
  top:50%;
  right:50%;
  width:auto;
  height:auto;
}