@import 'form';

.login-form {
  @extend .form;
  margin-right: 8px;
  margin-left:10px;
  position: relative;
  top:20%;

    .login-form-email-label {

    }

    .login-form-email-input {
      margin-bottom: 30px;
    }
  .login-form-password-label {

  }

  .login-form-password-input {

  }

  .login-form-submit-button {
    @extend .button-submit;
    margin-bottom: 5px;
    position: relative;
    left:35%;
    margin-top:18px;
  }
}
.login-panel{
  border:1px solid black;
  position: absolute;
  z-index: 5000;
  top:30%;
  right:50%;
  width:425px;
  height:400px;
  .login-panel-to-register{
    cursor: pointer;
    color: #2364ff;
    &:hover{
      color: #1c51d3;
    }
  }
}
.button-login{
  background: transparent;
  border:none;
}