@import 'colors';
.nav-panel{
  height:auto;

  background-color: $nav-panel-color !important;
  display: flex;
  justify-content: space-between;

  .nav-panel-list{
    display: flex;
    color:black;

    .nav-panel-item{
      flex:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media(max-width:500px){
        padding: 0 10px;
      }
      padding: 0 20px;

      &.nav-panel-item-left{
        margin-right:auto;

      }

      &.nav-panel-item-right{

        margin-right:10px;
      }
      .nav-panel-item-text-icon{
        font-size:16px;
      }
      .nav-panel-avatar-text{
        margin-top: 5px;
      }
    }


    #categories-icon:hover{
      cursor: pointer;
    }
  }
}
.link-style {
  text-decoration: none; /* Убираем подчеркивание */
  color: #000; /* Изменяем цвет текста */
}