@import 'colors';
.product-detail-page {

  display: flex;
  flex-direction: column;
  margin-left:2%;
  .product-breadcrumbs {
    margin-top:7%;
    margin-left:2%;
    margin-bottom: 4%;
  }
  .product-detail-photo{
    max-width: 350px;
    max-height: 350px;
    object-fit: contain;
    margin-top:1%;
    margin-left:4%;
  }
  .product-detail-desc-accordion{
    width:400px;
    margin-top:2%;

  }
  .product-detail-delivery-info-container{
    height:125px;
    width:170px;
    right:20%;
    top:30%;
    position:absolute;
    .product-detail-delivery-info-items {

      .product-detail-delivery-info-add-to-cart {
        width:100px;
        background-color: $button-add-to-cart;
        color:white;
        border:1px solid $button-add-to-cart-border-color;
        border-radius: 5px;
        position: absolute;
        top:60%;
        left:50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

      }
      .product-detail-delivery-info-add-to-cart:hover{
        background-color: $button-add-to-cart-hover;
      }
    }
  }

}