@import 'form';
.product-form{
  @extend .form;
  .product-form-name{
  width: 200px;
  margin-bottom:15px;
  }
  .product-form-description{
  width:200px;
    margin-bottom:15px;
  }
  .product-form-price{
  width:200px;
    margin-bottom:15px;
  }
  .product-form-photo{
    margin-top:20px;
  }
  .product-form-category-select{
    width:200px;
    margin-bottom:15px;
    .product-form-category-select-option{

    }
  }
  .product-form-subcategory-select{
    width:200px;
    margin-bottom:15px;
    .product-form-subcategory-select-option {

    }
  }
  .product-form-submit-button{
    @extend .button-submit;
    width:200px;
    margin-top:20px;
  }
}
.product-management {
  margin-top:100px;
  margin-left:30px;
  display: flex;
  flex-direction: row;
}
.product-management-delete-products {
  @extend .button-delete;
  width: 180px;
  margin-left:auto;
  margin-right: 10px;
  margin-bottom:20px;

}
.product-management-table{
  display:flex;
  flex-direction: column;
}