@import 'form';

.register-form {
  @extend .form;
  margin-right: 8px;
  margin-left:10px;
  position: relative;
  top:20%;


    .register-form-username-label {

    }

    .register-form-username-input {

    margin-bottom:20px;
  }
    .register-form-email-label {

    }

    .register-form-email-input {

      margin-bottom:20px;
    }
    .register-form-password-label {

    }

    .register-form-password-input {


    }
  .register-form-submit-button {
    @extend .button-submit;
    margin-bottom: 5px;

    position: relative;
    left:35%;
    margin-top:18px;
  }
}
.register-panel{
  border:1px solid black;
  position: absolute;
  z-index: 5000;
  top:30%;
  right:50%;
  width:425px;
  height:450px;
  align-items: center;
  .register-panel-to-login{
    cursor: pointer;
    color: #2364ff;
    &:hover{
      color: #1c51d3;
    }
  }
}
.button-register{
  background: transparent;
  border:none;
}
