@import 'colors';

.search-panel {
  margin-top:15%;
  margin-bottom: 55px;

  .search-input {
    left:25%;
    position: relative;
    width: 700px/1152px * 100% ;
    z-index: 1000;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size:0.1em;
  }

  .search-results-list {


    position: absolute;
    z-index: 999;
    background-color: white;
    left:30%;
    top:29.5%;
    margin-bottom: 25px;
    width: 700px/1152px * 100%;


    .search-results-item {
      height:40px;

      width: 100%;
      max-width: 800px;
      border: 1px solid #ccc;
      border-radius: 5px;

    }
  }

  .search-button{
    position: relative;
    left:26%;
    height:40px;
    background-color:$search-button-color;
    border:1px solid $search-button-border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .search-button:hover{
    background-color: $search-button-hover-color;
  }
}
.MuiFormControl-root{
  border-radius: 5px;
}